/* LAYOUT-DESIGNS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  max-width: 1024px;
}
.Portfolio {
  padding: 25px;
}
nav,
.navigation,
.info {
  display: flex;
  flex-direction: column;
  align-self: center;
}
nav,
.info {
  font-family: "Roboto", Arial, Verdana;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: rgb(220, 220, 220);
  padding: 25px;
}

/* CONTENT-DESIGNS */
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
.navigation,
.info {
  text-align: center;
  align-content: center;
}
h1,
.navigation a {
  color: #000;
}
.navigation,
.navigation li {
  width: 100%;
}

.navigation {
  margin-top: 1em;
}
.navigation li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}

.navigation a {
  text-transform: uppercase;
}
.profile-picture {
  margin-bottom: 2em;
}
.image {
  width: 100%;
}

/* MEDIA-QUERIES */
@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
  }
  .navigation li {
    background-color: transparent;
  }
  .info {
    flex-direction: row;
  }
  .info p {
    order: -1;
  }
}
